@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

/* ===== GENERAL STYLES ===== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background: #364f6b;
  padding: 0 24px;
}
.container {
  max-width: 550px;
  border-top: 4px solid darkred;
  padding: 2em;
  margin: 0 auto;
  margin-top: 40px;
  background: #f5f5f5;
  border-radius: 3px;
}
.container__heading {
  text-align: center;
  font-size: 1.4em;
  color: darkblue;
}
.container__subheading {
  max-width: 100%;
  padding: 0 2em;
  text-align: center;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 1em;
}
.container__subheading--item {
  margin: 0;
  text-align: center;
  opacity: 0.8;
}

/* ===== TODO INPUT ===== */
.container__input {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.todo__input {
  font-size: inherit;
  width: 100%;
  margin-right: 0.5em;
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: 3px;
  border: 2px solid darkblue;
  background-color: #f5f5f5;
  outline: none;
  transition: all 100ms ease-in-out;
}
.todo__input:focus {
  border-color: #364f6b;
}
.todo__btn--add {
  font-size: inherit;
  display: inline-block;
  background-color: darkblue;
  color: #f5f5f5;
  outline: none;
  border-radius: 3px;
  border: 2px solid darkblue;
  padding: 0.75em 1em;
  text-align: center;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}
.todo__btn--add:hover {
  cursor: pointer;
  opacity: 1;
}

/* ===== CREATED TODOS ===== */
.todo__list {
  max-width: 100%;
  padding: 1em;
  padding-right: 0;
  margin: 0 auto;
}
.todo__list--item {
  max-width: 100%;
  color: #212121;
  padding: 0.5em 1em;
  letter-spacing: 0.25px;
  border-radius: 2px;
  margin-bottom: 0.15em;
}
.todo__list--item:nth-child(even) {
  background-color: #364f6b22;
}
.todo__list--item:hover {
  font-weight: bold;
}
.todo__list--item:hover {
  cursor: pointer;
}

/* ===== DONE TODOS ===== */
.finished {
  text-decoration: line-through;
  font-style: italic;
}
.todo__btn--remove {
  font-style: normal;
  font-size: 1.1em;
  background: none;
  border: none;
  outline: none;
  float: right;
  color: #364f6b;
  font-weight: bold;
  cursor: pointer;
}
.todo__btn--remove:hover {
  color: #fc5185;
}

/* ===== REMOVE ALL BUTTON ===== */
.todo__btn--removeAll {
  font-size: inherit;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 3px;
  background-color: darkred;
  opacity: 0.8;
  color: #f5f5f5;
  padding: 0.5em 1em;
  margin: 1em 0;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.todo__btn--removeAll:hover,
.todo__btn--removeAll:focus {
  opacity: 1;
}

/* ===== INPUT ERROR MESSAGE ===== */
.error {
  color: red;
  font-style: italic;
  margin: 0.5em 0;
  display: none;
}
.error--active {
  display: block;
}
.error__input {
  border-color: red;
}
.error__icon {
  margin-right: 0.5em;
}

@media all and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
